.canvas-node[data-is-canvas-file-node="true"] {
  .canvas-node-label {
    display: flex;
    align-items: center;
    gap: var(--size-2-1);
  }

  .nested-portal-expand-button {
    margin-left: auto;
    pointer-events: all;
  }

  &:not([data-is-portal-loaded="true"]) {
    .canvas-node-content {
      display: none;
    }

    .canvas-node-container {
      background-color: var(--background-primary);
    }
  }
}

.nested-canvas-parent-nav {
  display: flex;
  align-items: center;
  gap: var(--size-2-1);
  padding: var(--size-2-1);
  border-radius: var(--radius-s);
  background-color: var(--background-primary);
  box-shadow: var(--shadow-s);

  .nested-canvas-parent-link {
    padding: 0 var(--size-2-2);
    border: 0;
    background: transparent;
    color: var(--text-muted);
    cursor: pointer;

    &:hover {
      color: var(--text-normal);
    }
  }
}
